asgiref
autopep8
Django
django-dirtyfields
django-silk
djangorestframework
djangorestframework_simplejwt
drf-yasg
gprof2dot
inflection
packaging
pycodestyle
PyJWT
pytz
PyYAML
sqlparse
tomli
typing_extensions
uritemplate
django-filter 
django-redis
celery[redis] 
django-ratelimit
cryptography
django-cors-headers
requests 
django-environ
dotenv
pandas
reportlab
stripe
firebase-admin
openpyxl
channels 
channels-redis 
daphne
whitenoise
psycopg2-binary
gunicorn